:root {
 --green-primary: #004643;
 --green: #055f42;
 --blue-green: #abd1c6;
 --white-text: #fffffe;
 --green-text: #0f3433;
 --green-dark: #001e1d;
 --bare-orange: #f5af46;
 --light-gray: #e8e4e6;
 --white-primary: #fff;
 --pink-rose: #e16162;
}

body{
   font-family: "Noto Sans", sans-serif;
   width: 100%;
   height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

li{
  list-style: none;
}

a{
  text-decoration: none ;
  color: var(--green-text) ;
}

.fs-7 {
  font-size: 0.875rem !important; /* 14px */
}

.fs-8 {
  font-size: 0.75rem !important;  /* 12px */
}

.fs-9 {
  font-size: 0.625rem !important; /* 10px */
}

.fs-10 {
  font-size: 0.5rem !important;   /* 8px */
}

.form-control:focus, .form-select:focus{
  box-shadow: none;
  border: 1px solid var(--green-primary);
}